<!DOCTYPE html>
<html lang="en">

<head>
  <title>ML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">

    <br>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- <form action="#" class="credit-card-div"> -->
      <form action="/get_ids" method="GET">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row ">

            <div class="col-md-12">              
              <textarea rows="4" cols="50" name="ids">Store: ridleys_0000</textarea>                                
            </div>
          </div>

          <div class="row ">            
            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
              <input type="submit" class="btn btn-warning btn-block" value="SUBMIT" />
            </div>
          </div>
        </div>
      </div>
      </form>
      <style>
        .credit-card-div span {
          padding-top: 10px;
        }

        .credit-card-div img {
          padding-top: 30px;
        }

        .credit-card-div .small-font {
          font-size: 9px;
        }

        .credit-card-div .pad-adjust {
          padding-top: 10px;
        }
      </style>

      <div class="col-md-4"></div>

    </div>
  </div>
</body>

</html>